<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title %></title>
    <link rel="canonical" href="https://www.tridentfreedivers.com">
    <meta name="description" content="<%= data.meta.meta_description %>">
    <meta name="theme-color" content="#00267F"/>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= data.meta.meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tridentfreedivers.com" />
    <meta property="og:image" content="<%= data.meta.meta_image %>" />
    <meta property="og:description" content="<%= data.meta.meta_description %>" />
    <meta property="og:site_name" content="<%= data.meta.meta_product_name %>" />
    <!-- Uncomment this when you actually have a favicon.png in /images -->
    <%#= favicon_tag 'images/favicon.png' %>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>
    <%= yield %>
    <%= partial "layouts/shared/reinsurance" %>
    <%= partial "layouts/shared/footer" %>
    <%= partial "layouts/shared/booking-modal" %>
    <%= partial "layouts/shared/back_to_top" %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
