<nav class="" id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <!-- logo for big screens -->
        <% link_to "/index.html", 'aria-label': "Back to Home" do %>
          <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561742326/logo_trident_white.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive d-none d-lg-block" %>
        <% end %>
      <!-- logo for small screens -->
      <% link_to "/index.html", 'aria-label': "Back to Home" do %>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561742623/logo_cross.png", alt: "Trident Freedivers - Logo", class:"img-responsive d-block d-sm-block d-md-block d-lg-none", id: "logo2" %>
      <% end %>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-middle d-none d-md-block d-xl-block">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "About Us", "about_us.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Freediving", "freediving.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Spearfishing", "spearfishing.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Underwater Photography", "underwater_photo.html", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="navbar-right d-none d-md-block d-xl-block">
      <%= link_to "Contact", "contact.html", class:"btn-round btn-contact" %>
    </div>
    <!-- Burger menu for small screens -->
    <div class="mobile_nav d-md-none">
      <button class="hamburger hamburger-collapse front-position" type="button" aria-label="Menu" id="sidenav-trigger">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="sidenav">
        <% link_to "/index.html" do %>
          <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559050885/logo_spear_white.png", alt: "Trident Freedivers - Logo", class:"img-responsive", id: "logo-sideNav" %>
        <% end %>
        <ul>
          <li class="navbar-item"><%= link_to "About Us", "about_us.html" %></li>
          <li class="navbar-item"><%= link_to "Freediving", "freediving.html" %></li>
          <li class="navbar-item"><%= link_to "Spearfishing", "spearfishing.html" %></li>
          <li class="navbar-item"><%= link_to "Underwater Photography", "underwater_photo.html" %>
          </li>
          <li class="navbar-item"><%= link_to "Contact", "contact.html" %>
          </li>
        </ul>
        <div class="social-wrapper">
          <div class="social-links-sidenav">
            <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
