<nav class="" id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <!-- logo for big screens -->
      <a  class="d-none d-md-block d-xl-block" href="/">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355404/logo_opkzrl.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive" %>
      </a>
      <!-- logo for small screens -->
      <a class="d-block d-sm-block d-md-none" href="/">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355463/TF_FINAL_LOGOS-07_wha5z9.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive" %>
      </a>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-middle d-none d-md-block d-xl-block">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "Freediving", "#about", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Spearfishing", "#projects", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Underwater Photography", "#contact", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="navbar-right d-none d-md-block d-xl-block">
      <%= link_to "Contact Us", "contact.html", class:"btn-round btn-contact" %>
    </div>
  </div>

</nav>
