<nav class="" id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <!-- logo for big screens -->
      <a class="d-none d-lg-block" href="/index.html">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355404/logo_opkzrl.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive" %>
      </a>
      <!-- logo for small screens -->
      <a class="d-block d-sm-block d-md-block d-lg-none" href="/">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355463/TF_FINAL_LOGOS-07_wha5z9.png", alt: "Trident Freedivers - Logo", class:"img-responsive", id: "logo2" %>
      </a>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-middle d-none d-md-block d-xl-block">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "About Us", "about_us.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Freediving", "freediving.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Spearfishing", "spearfishing.html", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Underwater Photography", "underwater_photo.html", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="navbar-right d-none d-md-block d-xl-block">
      <%= link_to "Contact", "contact.html", class:"btn-round btn-contact" %>
    </div>
    <!-- Burger menu for small screens -->
    <div class="mobile_nav d-md-none">
      <button class="hamburger hamburger-collapse front-position" type="button" aria-label="Menu" aria-controls="navigation" id="sidenav-trigger">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="sidenav">
        <a href="/index.html">
          <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559050885/logo_spear_white.png", alt: "Trident Freedivers - Logo", class:"img-responsive", id: "logo-sideNav" %>
        </a>
        <ul>
          <li class="navbar-item"><%= link_to "About Us", "about_us.html" %></li>
          <li class="navbar-item"><%= link_to "Freediving", "freediving.html" %></li>
          <li class="navbar-item"><%= link_to "Spearfishing", "spearfishing.html" %></li>
          <li class="navbar-item"><%= link_to "Underwater Photography", "underwater_photo.html" %>
          </li>
          <li class="navbar-item"><%= link_to "Contact", "contact.html" %>
          </li>
        </ul>
        <div class="social-wrapper">
          <div class="social-links-sidenav">
            <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
