<nav class="" id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <a href="#home">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355404/logo_opkzrl.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive" %>
      </a>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
      <ul class="nav-links">
        <li><%= link_to "About", "#about", class:"navbar-item navbar-link" %></li>
        <li><%= link_to "Projects", "#projects", class:"navbar-item navbar-link" %></li>
        <li><%= link_to "Contact", "#contact", class:"navbar-item navbar-link" %></li>
        <li><%= link_to "Playground", "#playground", class:"navbar-item navbar-link" %></li>
      </ul>
    </div>
  </div>
</nav>
