<nav class="" id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <a href="/">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355404/logo_opkzrl.png", alt: "Trident Freedivers - Logo", class:"logo-pic img-responsive" %>
      </a>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-middle hidden-xs hidden-sm">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "Freediving", "#about", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Spearfishing", "#projects", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Underwater Photography", "#contact", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="navbar-right">
      <%= link_to "Contact Us", "contact.html", class:"btn-round btn-contact" %>
    </div>
  </div>

</nav>
