---
layout: "error_pages"
permalink: /500.html
title: Oops... Error 500 - Trident Freedivers
---

<div id="error-500-page">
  <div class="wrapper">
    <div class="round"></div>
    <div class="wrapper-2">
      <div class="img-area">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1562769280/palm-trees.png", alt: "Trident Freedivers - palm tree background", class: "img-responsive" %>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1562769280/palm-trees.png", alt: "Trident Freedivers - palm tree background", class: "img-responsive" %>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1562769280/palm-trees.png", alt: "Trident Freedivers - palm tree background", class: "img-responsive" %>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1562769280/palm-trees.png", alt: "Trident Freedivers - palm tree background", class: "img-responsive" %>
      </div>
    </div>
  </div>
  <div class="error-500">
    <h1>
      <span>O</span>
      <span>O</span>
      <span>P</span>
      <span>S</span>
      <span>!</span>
    </h1>
    <h2>500...The server is on Vacation</h2>
    <%= link_to "Go to Homepage", "/index.html", class: "error-btn" %>
  </div>
</div>
