<div id="about-page">
  <div class="container about-container">
    <div class="title">
      <h1 class="main-title">About Us</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <section class="about-section-wrapper">
      <div class="presentation">
        <p class="about-text text-justify">Johanna Loch-Allen (aka Hanna) is the Barbadian Freediving Record holder in both the Free Immersion and Constant Weight disciplines.</p>
        <p class="about-text text-justify">She grew up swimming, surfing, sailing and spearfishing in the crystal clear
          waters of Barbados.
        Hanna competed in the International Freediving Competition - Blue Element in Dominica where she placed Fourth overall and set 5 National Records for Barbados.</p>
        <p class="about-text text-justify">She is a <strong>PADI Freediving instructor and Emergency First Response instructor</strong>.</p>
        <p class="about-text text-justify">Hanna is a passionate about promoting both the sport of Freediving and the many health benefits that can come from it. From moving meditation to Spearfishing as a sustainable fishing method.</p>
        <p class="about-text text-justify"> Come and learn how to Freedive with us, we have courses for beginners and more
          advanced freedivers.
        We run underwater photography shoots, lessons, we run spear fishing tours we specialise in breath holding for surfers and also teach breath hold and surf safety for kids.<br>
        All instructors are Emergency First Response Instructors and are certified to teach first aid.</p>
        <p class="about-text text-justify">We cater to divers of all levels, come and freedive and spearfish in the
          gorgeous crystal clean waters of Barbados.</p>
        <p class="about-text text-justify">What could be better than freediving with the gorgeous ship wrecks of Carlisle
          Bay as your backdrop?!</p>
        <div class="certif-wrapper">
          <div class="certif-logos" id="certif-logos-about">
            <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355404/logo2-300x225_ccdoa9.jpg", alt: "Trident Freedivers - EMFR certification", class: "certif-logo-img img-responsive" %>
            <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558705419/PADI-Logo_ie3vfw.jpg", alt: "Trident Freedivers - PADI", class: "certif-logo-img img-responsive", id: "padi-logo" %>
          </div>
        </div>
      </div>
      <div class="about-img-wrapper">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559056198/hanna_competition.jpg", class: "prez-img", id: "prez-img1", alt: "Trident Freedivers - Hanna Competition"%>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355460/hanna_coral.jpg", class: "prez-img", id: "prez-img2", alt: "Trident Freedivers - Hanna coral"%>
      </div>
    </section>
  </div>
</div>
