---
title: Trident Freedivers - Freediving courses
---

<section id="freedive-page">
  <div class="container page-container" id="freedive-container">
    <div class="title">
      <h1 class="main-title">Freediving</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="freedive-courses">
      <div class="card" id="card1">
        <div class="card-top">
          <h3>PADI certification course <br> <small>(2 days)</small></h3>
          <p class="course-price">$ 250 USD / person</p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Static apnea</li>
          <li><i class="fas fa-check"></i> Dynamic apnea</li>
          <li><i class="fas fa-check"></i> Deep freediving</li>
          <li><i class="fas fa-plus"></i> <small>Add Gopro footage $20</small> </li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
      <div class="card" id="card2">
        <div class="card-top">
          <h3>Freediving course <br> <small>(1 day)</small></h3>
          <p class="course-price">$ 150 USD / person</p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Static apnea</li>
          <li><i class="fas fa-check"></i> Deep freediving</li>
          <li><i class="fas fa-plus"></i> <small>Add Gopro footage $20 USD</small> </li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
    </div>
    <div class="fun-dives">
      <p class="infos-text" id="fun-dive-left">We offer also a full range of fun dives from <strong class="red-highlight">$ 100 - 150 USD</strong>.<br>
        Freediving on <strong class="red-highlight">sunked ship wrecks, with turtles or even at night</strong>.
        <br>
        (Available on Request if minimum numbers of participants are met).</p>
      <p class="infos-text" id="fun-dive-right">Course for <strong class="red-highlight">Padi Freediving Level 2 and
          Level 3</strong> are available upon request.</p>
      </div>
      <p id="contact-link-text"><%= link_to "Contact us", "contact.html", class:"contact-link" %> for more details.</p>
  </div>
</section>
<section class="freedive-infos">
  <div class="container" id="freedive-details">
    <div class="title">
      <h2 class="sub-title">What you will learn?</h2>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <p class="description-text" id="freedive-text">
      Freediving is about exploring the underwater world and becoming one with the ocean. If you’ve always wanted to spend more time in the underwater world then freediving is for you.</p>
    <p class="description-text">
      Taking the PADI Freediver course is a great first step toward discovering what freediving is all about. You will learn about the art of breath hold breathing and equalization techniques as well rescue and recovery. <br>   <strong class="yellow-highlight">To enroll in a PADI Freediver course you must be at least 15 years old</strong>. We will cover everything from breathing techniques to recovery, rescue, equalisation and much more. <br>
      This course is a full two days from about 9.30am to approx 2pm and cost is $250 USD ($500 BBD) with an additional option to add Gopro video and footage for $20 USD. <br>
      The course fee includes gear rental of long freediving fins, mask and snorkel as well as weight belt and weights. Rash guard tops are also available in a variety of sizes.
    </p>
    <p class="description-text">
      You will receive the online learning materials for all 3 PADI freediver courses to read through (or watch the videos if you dont feel like reading! Thanks padi) and will get a <strong class="yellow-highlight">PADI certified freediver card</strong> that you can use world wide and also then you will qualify to take level two with PADI or with any other Freediving school (SSI, Fii, Apnea Academy…etc). <br>
      On the course we will cover Static (holding your breath for time), Dynamic Freediving (going for distance) and Deep freediving (going for depth). <br>
      The first day we will go over classroom part of the course information in the morning and then jump in the water for Static and Dynamic freediving. <br>
      Day two we will be focusing on equalization techniques and Depth.
    </p>
    <p class="description-text">
      I also run a one day freediving course that is a condensed version of the two day course. This, is not including the PADI certification. The cost is $150 USD ($300 BBD). <br>
      This course will cover: static and Deep Freediving but not Dynamic. Equalization, breathing techniques as well as rescue will all be covered but not in as much depth as on the two day course.
    </p>
    <p class="description-text">
      Usually both courses finish with a fun dive on the ship wrecks of Carlisle Bay on the way back to the beach!
    </p>
    <p class="description-text">
      Freediving is sometimes considered to be an extreme sport, and certainly you can take it there if you wish to challenge yourself and reach for your limits! <br>
      However a large number of people come to the course seeking to learn more about breath hold and simply want to learn to better enjoy their time underwater and feel more comfortable diving down and enjoying the marine environment.
    </p>
    <p class="description-text">
      <strong class="yellow-highlight">You need to be a competent swimmer and need to be in good physical health. No prior experience is required.</strong>
    </p>
  </div>
</section>
