<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <!-- Uncomment this when you actually have a favicon.png in /images -->
    <%#= favicon_tag 'images/favicon.png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>
    <%= yield %>
    <%= partial "layouts/shared/reinsurance" %>
    <%= partial "layouts/shared/footer" %>
    <%= partial "layouts/shared/booking-modal" %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
