---
title: Trident Freedivers - Spearfishing Tours
---

<section id="spearfishing-page">
  <div class="container-fluid page-container" id="sprearo-wrapper">
    <div class="title">
      <h1 class="main-title">Spearfishing</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="spear-tours">
      <div class="card" id="card-left">
        <div class="card-top">
          <h3>Coastal Tour</h3>
          <p class="course-price">$ 110 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>No experience required</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos of the tour</li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
      <div class="card" id="card-right">
        <div class="card-top">
          <h3>Blue water Tour</h3>
          <p class="course-price">$ 250 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Experienced spearo's only</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos of the tour</li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
    </div>
    <div class="card" id="card-bottom">
      <div class="card-top">
        <h3>Spearfishing at night</h3>
        <p class="course-price">$ 150 / person</p>
        <p class="red-highlight exp-disclaimer"><strong>Experienced spearo's only</strong></p>
        <hr class="separator">
      </div>
      <p>Not Afraid of the dark ? <br>
        Come to dive with us under the magic stars of the Barbados sky.</p>
      <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
    </div>
  </div>
</section>
<section class="spearfishing-infos">
  <div class="container" id="spearfishing-details">
    <div class="title">
      <h2 class="sub-title">What's in the tours?</h2>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <p class="infos-text description-text" id="spear-text">Usually we will pick you up or meet at a location. I will run through the spear guns, pole spears and go over some basic breath hold, equalization techniques, safety information as well as tips for getting closer to fish and spotting the target species.</p>
    <p class="infos-text description-text">
      We target everything from lobster, lionfish, barracuda, mackerel and snappers. <br>
      We will get geared up and swim out from the beach (for the coastal tour) or get the boat to our fishing spot (blue water tour).
    </p>
    <p class="infos-text description-text">
      Afterwards I will show you how to fillet the fish and we can all have a hot tea and snack on the beach. <br>
      I usually like to run the tours in the afternoon and the tour is about 4-5 hours total (this may vary depending on where you are staying as pick up times may vary).
    </p>
  </div>
</section>
