---
title: Spearfishing Tours - Trident Freedivers
---

<section id="spearfishing-page">
  <div class="container-fluid page-container" id="sprearo-wrapper">
    <div class="title">
      <h1 class="main-title">Spearfishing</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="spear-tours">
      <div class="card" id="card-left">
        <div class="card-top">
          <h3>Coastal Tour</h3>
          <p class="course-price">$ 110 USD / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Experience required</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gear included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Transportation included</li>
          <li><i class="fas fa-check"></i>Snacks</li>
          <li><i class="fas fa-plus"></i> <small>Add Gopro footage $20</small> </li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
      <div class="card" id="card-right">
        <div class="card-top">
          <h3>Blue water Tour</h3>
          <p class="course-price">$ 250 USD / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Experienced spearo's only</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gear included</li>
          <li><i class="fas fa-check"></i>Bait and flasher</li>
          <li><i class="fas fa-check"></i>Transportation included</li>
          <li><i class="fas fa-check"></i>Snacks</li>
          <li><i class="fas fa-check"></i>Gopro footage included</li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
    </div>
    <div class="card" id="card-bottom">
      <div class="card-top">
        <h3>Spearfishing at night</h3>
        <p class="course-price">$ 150 USD / person</p>
        <hr class="separator">
      </div>
      <p>Not Afraid of the dark ? <br>
        Come to dive with us under the magic stars of the Barbados sky.</p>
      <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
    </div>
  </div>
</section>
<section class="spearfishing-infos">
  <div class="container" id="spearfishing-details">
    <div class="title">
      <h2 class="sub-title">What's in the tours?</h2>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <p class="description-text" id="spear-text">
      Want to spear your own fish for dinner? <br>
      Coastal spearfishing is a great activity in sustainability and selective fishing while enjoying the marine environment and exploring the reefs of beautiful Barbados. <br>
      <strong class="yellow-highlight">This tour requires no prior experience in spearfishing you just need to be in good health and be a confident swimmer!</strong> <br>
      The cost per person for the coastal spearfishing tour is $110 USD ($220 BBD) and includes all gear, instruction and safety demonstration and guidance. There is also an option to add Gopro footage of the tour for an additional $20 USD. </p>
    <p class="description-text">
      Usually we will pick you up or meet up at a designated location. I will teach you some basic breath hold and equalization techniques, go over the safety information briefing, teach you about a variety of Spearguns, pole spears and spearfishing equipment as well as tips for getting closer to fish and spotting the target species. <br>
      We target everything from lobster, lionfish, barracuda, mackerel and snappers. <br>
      We will get geared up and swim out from the beach. <br>
      Afterwards I will show you how to fillet the fish and we can all have hot tea and a snack on the beach. <br>
      The tour is about 4 hours total (this may vary depending on where you are staying as pick up times may vary). <br>
      Tour options are available- Morning tours 9am-1pm or Afternoon Tours 1-5pm. Both are productive however lionfish are often spotted around sunset and so the afternoon tours tend to have more yield in lionfish.
    </p>
    <p class="description-text">
      Blue water tours targeting pelagic fish are available year round. Barbados being an Atlantic Island there are always opportunities for targeting larger fish offshore. <br>
      <strong class="yellow-highlight">This tour can only be booked by experienced spearos</strong>. <br>
      Included is transportation to and from the boat, ice, bait and flasher. Full spearfishing gear is also available for use however many people prefer to bring their own guns and equipment with them. <br>
      The guns available for blue water use are Rob Allen 130 set up with break away spear, float line and pressurized float. <br>
      Blue water tours are priced at $220 USD per person ($440 BBD) GoPro footage is included in this tour price.
    </p>
  </div>
</section>
