---
title: Trident Freedivers - Underwater Photo Package
---
<section id="underwater-page">
  <div class="container page-container">
    <div class="title">
      <h1 class="main-title">Underwater Photography</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="underwater-tour">
      <div class="card" id="photo-card">
        <div class="card-top">
          <h3>Photography Tour</h3>
          <p class="course-price">$ 150 USD / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Single, couples or Groups</strong></p>
          <hr class="separator">
        </div>
        <p>Come to freedive with beautiful, professional quality pictures of your underwater adventures.</p>
        <ul>
          <li><i class="fas fa-check"></i>All gear included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos taken with professional camera</li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
    </div>
  </div>
</section>
<section class="underwater-infos">
  <div class="container" id="underwater-details">
    <div class="title">
      <h2 class="sub-title">What's in the tours?</h2>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <p class="description-text" id="underwater-text">
      Underwater photography tours are an excellent way to get your gills wet, try freediving in a fun relaxed way and get some really nice photos of yourself in the gorgeous crystal clear waters of the Caribbean. <br>
      This tour is priced at $150USD per person ($300 BBD) and includes Freediving 101 with Hanna covering all the basics to get you started. <br>
      You will also receive a number of images and videos of yourself freediving in the beautiful Carlisle Bay with a backdrop of stunning ship wrecks and marine life. <br>
      <strong class="yellow-highlight">All files will be delivered in digital format.</strong> <br>
      Group rates are also available for this tour, <%= link_to "contact us", "contact.html", class:"contact-link" %> for more information!
    </p>
  </div>
</section>
<section>
  <div class="gallery-section">
    <div class="container gallery-container">
      <div class="title">
        <h1 class="main-title">Gallery</h1>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
      </div>
      <p id="sell-text">Underwater images available for purchase - Print & License to use. <br>
      <%= link_to "Contact us", "contact.html", class:"contact-link" %> for more information.
      </p>
      <div class="masonry">
        <% data.gallery.each do |owner, pic| %>
          <div class="brick">
            <a href="<%= pic.url %>" data-lightbox="picture-gallery" data-title="Underwater picture by Trident Freedivers. Available for purchase.">
              <%= image_tag pic.url, alt: "Underwater picture by Trident Freedivers. Available for purchase.", loading:"lazy" %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
